body .homepage #background{
    background-color: aliceblue;
}

h1 {
    color: blueviolet;
    font-family: "Times", "Times New Roman", serif;
}

h2 {
    color: red;
    font-family: "Times", "Times New Roman", serif;
}

h3 {
    color: blue;
    font-family: "Times", "Times New Roman", serif;
}

h4 {
    color: brown;
    font-family: "Times", "Times New Roman", serif;
}

p {
    color: darkgreen;
    font-family: "Helvetica", "Arial", sans-serif;
}

a {
    color: darkmagenta;
    font-family: "Helvetica", "Arial", sans-serif;
}